body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#video-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 80%;
}

video {
    width: 45%;
    height: auto;
    background-color: #000;
}
